<div class="mt-16 py-8 border-t-2 flex justify-between items-center">
  <div class="flex items-center flex-1">
    <div class="inline-block h-8 w-8 bg-orange-400 text-[#170902] dark:text-[#170902] rounded-full mr-2 flex justify-center items-center">E</div>
    <span class="text-lg font-medium">{{ site.name }}</span>
  </div>
  <p class="text-sm flex-1">Talks about technology and other things he finds interesting. This was built with 11ty and tailwind. And works even with Javascript disabled.</p>
</div>
