<footer class="mt-8 bg-darker text-lighter py-8 flex-shrink-0">
  <div class="max-w-screen-sm md:max-w-screen-md mx-auto px-8">
    <p class="text-sm py-2 text-right">
      {% if site.github != "" %}
        <a href={{ site.github }}>GitHub</a>
      {% endif %}

      {% if site.gitlab != "" %}
        &middot; <a href={{ site.gitlab }}>GitLab</a>
      {% endif %}

      {% if site.linkedin != "" %}
        &middot; <a href={{ site.linkedin }}>LinkedIn</a>
      {% endif %}

      {% if site.twitter != "" %}
        &middot; <a href={{ site.twitter }}>Twitter</a>
      {% endif %}

      &middot; <a href="https://muckypupcreations.com">Main site</a>
    </p>
  </div>
</footer>
