---
layout: main.njk
---
{% include "nav.njk" %}

<p class="text-5xl md:text-6xl font-black pt-10 md:pt-30 pb-4 leading-tight">
    {{ title }}
</p>

<div>
    <em>{{ date | postDate }}</em> &middot;
    <span>{{ content | readTime }} min read</span>
</div>

<div class="mt-3 pb-10">
  {% for tag in tags | postTags %}
    <a href="/tags/{{ tag }}">
      <span class="tag">{{ tag }}</span>
    </a>
  {% endfor %}
</div>

<div class="prose dark:prose-invert hover:prose-a:text-orange-400 max-w-full">
  {{ content | safe }}
</div>

{% include "author.njk" %}
