@tailwind base;
@tailwind components;
@tailwind utilities;

.paginator-text {
  @apply text-lighter font-bold py-2 px-4;
}

.tag {
  @apply py-2 px-4 mt-1 mr-1 rounded-full bg-white hover:bg-lighter text-darkest dark:bg-lighter dark:hover:bg-darker dark:hover:text-lighter border border-darker;
}

.header-anchor {
  text-decoration: none!important;
}

body {
  font-family: "Lucida Sans", sans-serif;
  @apply text-darker;
}

.dark body {
  @apply text-lighter;
}

h1 > a.header-anchor {
  font-weight: 800;
}

h2 > a.header-anchor {
  font-weight: 700;
}

::selection { @apply bg-lighter text-darkest; }
img::selection { background: transparent; }

@media (min-width: 768px) {
  html {
    background: url("/assets/img/background.webp");
  }

  main {
    padding: 5em;
    background: url("/assets/img/background2.webp");;
    border-radius: 2px;
  }

  html.dark, html.dark main {
    background: none;
    @apply bg-darkest;
  }
}
