---
layout: base.njk
title: Search
---
<article class="mx-auto max-w-2xl card mt-4">
  <form id="searchform" class="flex sm:w-1/2">
    <input class="outline-none border-b-2 flex-auto" type="text" name="search" id="search" placeholder="Search..." size=1 autofocus />
    <button type="submit" class="flex-initial">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 pt-0.5 text-navy" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
    </button>
  </form>

  <ul class="pt-2" id="searchresults"></ul>
</article>

<script>
async function submitSearch(event) {
  event.preventDefault()
	const form = event.target
	const query = form.search.value
	const resultBox = document.querySelector('#searchresults')

  const typeGetter = (tags) => {
    if (tags.includes("posts")) {
      return "post"
    }

    if (tags.includes("npcs")) {
      return "npc"
    }
  }

	resultBox.innerHTML = ''

  if (!query) {
    return
  }

  try {
    const response = await fetch(`/api/search/?query=${query}`)

    if (response.status != 200) {
      throw (`${response.status} ${response.statusText}`)
    }

    const searchResults = await response.json()

    if (searchResults.length) {
      for (let result of searchResults) {
        const listElement = document.createElement('li')
        const reference = `<small class="chip">Book ${result.book}, ${result.chapter ? `chapter ${result.chapter}` : 'bonus scene'}</small>`
        const type = typeGetter(result.tags)
        const typeDisplay = type ? `<small class="chip sm:order-2">${type}</small>` : ''

        listElement.classList.add("py-1")
        listElement.classList.add("flex")
        listElement.classList.add("gap-1")
        listElement.classList.add("items-center")
        listElement.classList.add("flex-wrap")
        listElement.classList.add("content-between")

        listElement.innerHTML = `
          <a href="${result.id}" class="block w-full sm:inline sm:w-auto sm:flex-auto">${result.title}</a>
          <small class="chip sm:order-last">${result.date}</small>
          ${typeDisplay}
          ${result.book ? reference : ''}
        `

        resultBox.appendChild(listElement)
      }
    } else {
      resultBox.innerHTML = `<li>No results for query <strong>${query}</strong></li>`
    }
  } catch (error) {
    resultBox.innerHTML = error.toString()
  }
}

let form = document.querySelector('#searchform')
form.addEventListener('submit', submitSearch)
</script>
